body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h1, h2 {
    color: #2a6f97;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.project a {
    color: #2a6f97;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
